* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}
html {
  font-size: 62.5%;
}
:root {
  --bg-color: #f9eae1;
  --light-pink: #cc8b86;
  --dark-pink: #7d4f50;
  --dark-gray: #aa998f;
  --vdark-pink: #4b2f30;
}

/* CONTACT */

.contact {
  position: absolute;
  left: 1rem;
  bottom: 0;
}
.icon {
  display: block;
  margin: 3rem 0;
  color: #351e1f;
  cursor: pointer;
}

.icon i {
  font-size: 2rem;
  padding: 0.5rem;
  transition: all ease 0.3s;
}
.icon span {
  font-size: 1.5rem;
  transition: all ease 0.3s;
  opacity: 0;
}
.icon:hover i {
  transform: scale(1.2);
}

.icon:hover span {
  opacity: 1;
}
/* HEADER */
.header {
  height: 100vh;
  background-color: var(--bg-color);
  background-image: linear-gradient(
    45deg,
    rgb(125, 79, 80) 25%,
    transparent 25%,
    transparent 50%,
    rgb(125, 79, 80) 50%,
    rgb(125, 79, 80) 75%,
    transparent 75%,
    #fff
  );
}

/* NAV */

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
.nav-links {
  list-style: none;
}
.nav-links a {
  margin: 0 3rem;
  text-decoration: none;
  letter-spacing: 0.1rem;
  font-size: 1.5rem;
  color: var(--light-pink);
}
.nav-links a:hover {
  color: var(--dark-gray);
}

.logo {
  font-family: "Grandstander", cursive;
  text-shadow: 0.1rem 0.2rem 0.2rem var(--dark-pink);
  font-size: 3rem;
  font-weight: 700;
  color: var(--vdark-pink);
}
.logo span {
  color: var(--light-pink);
}

/* BANNER */
.banner {
  height: calc(100vh - 3rem);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2rem;
}
.img-container {
  width: 40rem;
  border: 1rem solid var(--dark-pink);
  border-radius: 0.3rem;
}
.img-container img {
  display: block;
  width: 100%;
  height: 100%;
}
.banner-text {
  height: 40rem;
  max-width: 50rem;
}
.name {
  font-size: 7rem;
  color: #4b2f30;
  font-weight: 700;
  letter-spacing: 0.5rem;
}

.job {
  font-size: 3rem;
  color: var(--light-pink);
  font-weight: 700;
  letter-spacing: 0.5rem;
}

.banner-btn {
  background: var(--dark-gray);
  margin-top: 3rem;
  padding: 0.5rem 2rem;
  /* border-radius: 0.3rem; */
  letter-spacing: 0.3rem;
  font-weight: 700;
  outline: none;
  font-size: 1.7rem;
  color: var(--bg-color);
  border: 0.2rem solid var(--dark-gray);
  box-shadow: 0.1rem 0.1rem 0.1rem rgb(63, 63, 63);
  text-shadow: 0.1rem 0.1rem 0.1rem rgb(128, 128, 128);
  cursor: pointer;
}

.banner-btn:hover {
  background-color: #d3c0b4;
  border: 0.2rem solid #d3c0b4;
}

/* SERVICES */

.services {
  padding: 2rem;
  display: grid;
  background-color: #d4a6a2;
}

.services-title {
  margin: 5rem auto 0 auto;
  font-size: 6rem;
  color: var(--dark-pink);
  letter-spacing: 0.3rem;
}

.services-underline {
  background-color: var(--dark-pink);
  width: 15rem;
  height: 0.4rem;
  margin: 1.5rem auto 7rem auto;
  border-radius: 0.2rem;
}

.services-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 95vw;
  margin: 0 auto 8rem auto;
}

.services-item {
  margin: auto;
  max-width: 95%;
  border-top: 0.5rem solid var(--dark-pink);
  border-radius: 0.5rem;
  display: grid;
  padding: 2rem;
  background-color: var(--bg-color);
}
.services-item i {
  margin: 3rem auto 0 auto;
  font-size: 5rem;
  color: var(--dark-pink);
  padding-bottom: 2rem;
  border-bottom: 0.5rem solid var(--dark-pink);
  border-radius: 0.5rem;
}

.services-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 3rem auto;
  max-width: 80%;
  color: var(--dark-pink);
}
.services-text h2 {
  margin: 2rem 0;
  font-size: 3.5rem;
}
.services-text h3 {
  margin: 0;
  font-size: 2.5rem;
  font-weight: 500;
}
.services-text p {
  font-size: 1.7rem;
  margin: 2rem auto;
  text-align: center;
  color: var(--light-pink);
}

/* projects */

.projects {
  padding: 5rem;
  display: grid;
  background-color: var(--bg-color);
}

.projects-title {
  margin: 5rem auto 0 auto;
  font-size: 5rem;
  color: var(--dark-pink);
  letter-spacing: 0.3rem;
}

.project-underline {
  background-color: var(--dark-pink);
  width: 25rem;
  height: 0.4rem;
  margin: 2rem auto 7rem auto;
  border-radius: 0.2rem;
}

.projects-container {
  max-width: 95vw;
  display: flex;
  margin: 0 auto 5rem auto;
}

.project-item {
  width: 30%;
  margin: auto;
  position: relative;
  background: linear-gradient(
    rgba(255, 255, 255, 0.9),
    rgba(255, 255, 255, 0.9)
  );
  cursor: pointer;
}
.project-info {
  height: 60%;
  display: grid;
  place-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  opacity: 0;
  transition: all ease 1s;
}
.img-frame {
  width: 100%;
  height: 100%;
}

.img-frame::after {
  content: "";
  position: absolute;
  border-radius: 0.3rem;
  top: 0;
  left: 0;
  width: 95%;
  height: 95%;
  border: 1rem solid var(--dark-pink);
  opacity: 0;
  transition: all ease 1s;
}
.project-item img {
  width: 100%;
  display: block;
  border-radius: 0.3rem;
  transition: all ease 1s;
}

.project-item:hover img {
  opacity: 0.3;
}
.project-item:hover .project-info {
  opacity: 1;
}

.project-item:hover .img-frame::after {
  transform: scale(0.8);
  opacity: 1;
}

.project-name {
  font-size: 4rem;
  color: var(--dark-pink);
}

.company {
  font-size: 3rem;
  color: var(--light-pink);
}

/* footer */

.footer {
  display: grid;
  place-items: center;
  justify-content: center;
  background-color: var(--dark-pink);
}

.social {
  margin-top: 3rem;
  display: flex;
  width: 40rem;
  justify-content: space-between;
}
.icons {
  color: #351e1f;
  transition: all ease 0.2s;
}
.icons i {
  font-size: 2rem;
}
.icons span {
  font-size: 1.2rem;
}
.icons:hover {
  transform: scale(1.1);
  color: #4b2f30;
}
.footer p {
  margin: 5rem auto;
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
  color: var(--light-pink);
}
