* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
:root {
  --bg-color: #f9eae1;
  --light-pink: #cc8b86;
  --dark-pink: #7d4f50;
  --dark-gray: #aa998f;
  --vdark-pink: #4b2f30;
}

/* SOCIAL */

.social {
  position: fixed;
  left: 1rem;
  bottom: 0;
  overflow-anchor: none;
  z-index: 20;
}
.icon {
  display: block;
  margin: 3rem 0;
  color: #351e1f;
  cursor: pointer;
}

.icon:hover {
  color: #412728;
}

.icon i {
  font-size: 2rem;
  padding: 0.5rem;
  transition: all ease 0.3s;
}
.contact-btn i {
  font-size: 3rem;
  margin-bottom: 1rem;
  color: #351e1f;
  animation: bounce 2s ease-in-out infinite;
  transition: all ease -2s;
  cursor: pointer;
}
.contact-btn i:hover {
  color: #412728;
  transform: rotateY(-90deg);
}

@keyframes bounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
.icon span {
  font-size: 1.5rem;
  transition: all ease 0.3s;
  opacity: 0;
  color: var(--dark-pink);
  background-color: var(--bg-color);
  padding: 0.2rem;
  border-radius: 0.3rem;
}

.icon:hover i {
  transform: scale(1.2);
}

.contact-list {
  height: 0;
  overflow: hidden;
  transition: all ease 0.3s;
  animation: showlist 3s 1s alternate;
}
@keyframes showlist {
  0% {
    height: 0;
  }
  15% {
    height: 26rem;
  }
  85% {
    height: 26rem;
  }
  100% {
    height: 0;
  }
}
.contact-list-active {
  height: 26rem;
}

.icon:hover span {
  opacity: 1;
}
/* HEADER */
.header {
  height: 100vh;
  background-color: var(--bg-color);
  background-image: linear-gradient(
    45deg,
    var(--dark-pink) 10%,
    transparent 25%,
    transparent 60%,
    var(--dark-pink) 50%,
    var(--dark-pink) 75%,
    transparent 75%,
    #fff
  );
}

/* NAV */

.nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  padding: 1rem;
}

.nav-fixed {
  position: fixed;
  background-color: var(--bg-color);
  box-shadow: 0.1rem 0.2rem 0.2rem var(--dark-gray);
  z-index: 10;
}
.nav-links {
  list-style: none;
}
.nav-links a {
  margin: 0 3rem;
  text-decoration: none;
  letter-spacing: 0.1rem;
  font-size: 1.5rem;
  color: var(--light-pink);
}
.nav-links a:hover {
  color: var(--dark-gray);
}

.logo {
  font-family: "Grandstander", cursive;
  text-shadow: 0.1rem 0.2rem 0.2rem var(--dark-pink);
  font-size: 3rem;
  font-weight: 700;
  color: var(--vdark-pink);
}
.logo span {
  color: var(--light-pink);
}

.nav-btn {
  font-size: 2.5rem;
  color: var(--dark-pink);
  display: none;
  cursor: pointer;
}

/* BANNER */
.banner {
  /* height: calc(100vh - 3rem); */
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2rem;
}
.img-container {
  width: 40rem;
  border: 1rem solid var(--dark-pink);
  border-radius: 0.3rem;
}
.img-container img {
  display: block;
  width: 100%;
  height: 100%;
}
.banner-text {
  height: 40rem;
  max-width: 50rem;
}
.name {
  font-size: 7rem;
  color: #4b2f30;
  font-weight: 700;
  letter-spacing: 0.5rem;
}

.job {
  font-size: 3rem;
  color: var(--light-pink);
  font-weight: 700;
  letter-spacing: 0.5rem;
  margin-bottom: 3rem;
}

.banner-btn {
  background: var(--dark-gray);
  margin-top: 3rem;
  padding: 0.5rem 2rem;
  text-decoration: none;
  letter-spacing: 0.3rem;
  font-weight: 700;
  font-size: 1.7rem;
  color: var(--bg-color);
  border: 0.2rem solid var(--dark-gray);
  box-shadow: 0.1rem 0.1rem 0.1rem rgb(63, 63, 63);
  text-shadow: 0.1rem 0.1rem 0.1rem rgb(128, 128, 128);
  cursor: pointer;
}

.banner-btn:hover {
  background-color: #d3c0b4;
  border: 0.2rem solid #d3c0b4;
}

/* SERVICES */

.services {
  padding: 2rem;
  display: grid;
  background-color: var(--bg-color);
}

.services-title {
  margin: 5rem auto 0 auto;
  font-size: 6rem;
  color: var(--dark-pink);
  letter-spacing: 0.2rem;
}

.services-underline {
  background-color: var(--dark-pink);
  width: 15rem;
  height: 0.4rem;
  margin: 1.5rem auto 7rem auto;
  border-radius: 0.2rem;
}

.services-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 95vw;
  margin: 0 auto 8rem auto;
}

.services-item {
  margin: auto;
  max-width: 95%;
  border-top: 0.5rem solid var(--dark-pink);
  border-radius: 0.5rem;
  display: grid;
  padding: 2rem;
  /* background-color: #f1cfbb; */
  background-color: var(--light-pink);
  box-shadow: 0rem 0rem 0.2rem var(--dark-gray);
}
.services-item i {
  margin: 3rem auto 0 auto;
  font-size: 5rem;
  color: var(--dark-pink);
  padding-bottom: 2rem;
  border-bottom: 0.5rem solid var(--dark-pink);
  border-radius: 0.5rem;
}

.services-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 3rem auto;
  max-width: 80%;
  color: var(--dark-pink);
}
.services-text h2 {
  margin: 2rem 0;
  font-size: 3.5rem;
}
.services-text h3 {
  margin: 0;
  font-size: 2.5rem;
  font-weight: 500;
}
.services-text p {
  font-size: 1.7rem;
  margin: 2rem auto;
  text-align: center;
  color: var(--bg-color);
}

/* projects */

.projects {
  padding: 5rem;
  display: grid;
  background-color: var(--bg-color);
}

.projects-title {
  margin: 5rem auto 0 auto;
  font-size: 5rem;
  text-align: center;
  color: var(--dark-pink);
  letter-spacing: 0.3rem;
}

.project-underline {
  background-color: var(--dark-pink);
  width: 25rem;
  height: 0.4rem;
  margin: 2rem auto 7rem auto;
  border-radius: 0.2rem;
}

.projects-container {
  max-width: 95vw;
  display: flex;
  margin: 0 auto 5rem auto;
}

.project-item {
  width: 30%;
  margin: auto;
  position: relative;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
  cursor: pointer;
  opacity: 0;
  border-radius: 0.3rem;
}

.project-anime {
  animation: projectanime 1s 0s forwards;
}

@keyframes projectanime {
  0% {
    transform: translateY(40rem);
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.project-info {
  height: 60%;
  display: grid;
  place-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  opacity: 0;
  transition: all ease 1s;
}
.img-frame {
  width: 100%;
  height: 100%;
}

.img-frame::after {
  content: "";
  position: absolute;
  border-radius: 0.3rem;
  top: 0;
  left: 0;
  width: 95%;
  height: 95%;
  border: 1rem solid var(--dark-pink);
  opacity: 0;
  transition: all ease 1s;
}
.project-item img {
  width: 100%;
  display: block;
  border-radius: 0.3rem;
  transition: all ease 1s;
  opacity: 0.5;
}

.project-item:hover {
  background: linear-gradient(
    rgba(255, 255, 255, 0.9),
    rgba(255, 255, 255, 0.9)
  );
}

.project-item:hover img {
  opacity: 0.3;
}
.project-item:hover .project-info {
  opacity: 1;
}

.project-item:hover .img-frame::after {
  transform: scale(0.8);
  opacity: 1;
}

.project-name {
  font-size: 4rem;
  color: var(--dark-pink);
}

.company {
  font-size: 3rem;
  color: var(--light-pink);
}

.project-header {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--light-pink);
  transition: all ease 0.3s;
}

.project-header i {
  font-size: 5rem;
}

.project-item:hover .project-header {
  opacity: 0;
}

/* contact */

.contact {
  height: 82vh;

  overflow: hidden;
  background: #f5d2d0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.video-container {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.3;
  transform: scale(1.5);
}

.contact-container {
  position: absolute;
  text-align: center;
}
.contact-title {
  margin-bottom: 5rem;
  font-size: 5rem;
  letter-spacing: 0.2rem;
  color: var(--dark-pink);
}
.input-container {
  display: flex;
  flex-direction: column;
}
.input-container input {
  background-color: var(--light-pink);

  height: 5rem;
  width: 40rem;
  padding: 1rem;
  color: var(--bg-color);
  font-size: 1.5rem;
  border: none;
  border-radius: 5rem;
  outline: none;
  margin-bottom: 3rem;
}

.input-container textarea {
  background-color: var(--light-pink);
  padding: 1.5rem 1rem;
  color: var(--bg-color);
  font-size: 1.5rem;
  max-height: 15rem;
  min-height: 15rem;
  min-width: 40rem;
  max-width: 40rem;
  border: none;
  border-radius: 3rem;
  outline: none;
  margin-bottom: 3rem;
}
::placeholder {
  color: var(--bg-color);
  letter-spacing: 0.1rem;
}
.submit {
  background-color: var(--dark-pink);
  color: var(--light-pink);
  border: none;
  width: 15rem;
  margin: auto;
  border-radius: 5rem;
  font-size: 2rem;
  padding: 0.5rem 2rem;
  letter-spacing: 0.2rem;
  font-weight: 700;
  outline: none;
  box-shadow: 0.1rem 0.2rem 0.2rem #351e1f;
  cursor: pointer;
}
.submit:hover {
  background-color: #855c5c;
}
.square {
  background-color: #cc8b86;
  height: 38vw;
  width: 38vw;
  position: absolute;
  left: -20vw;
  transform: rotate(-45deg);
  box-shadow: 0.1rem 0.1rem 0.2rem #7d4f50;
}
/* footer */

.footer {
  display: grid;
  place-items: center;
  justify-content: center;
  background-color: var(--dark-pink);
}

.footer p {
  margin: 3rem auto;
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
  color: var(--light-pink);
}

@media screen and (max-width: 720px) {
  .nav {
    background-color: var(--bg-color);
    box-shadow: 0.1rem 0.2rem 0.2rem var(--dark-gray);
    top: 0;
  }
  .nav-links {
    position: absolute;
    top: 6.08rem;
    left: 0;
    right: 0;
    display: block;
    background-color: var(--bg-color);
    height: 0;
    overflow: hidden;
    transition: all ease 0.2s;
    box-shadow: 0.1rem 0.2rem 0.2rem var(--dark-gray);
  }

  .nav-links-active {
    height: 24.32rem;
  }
  .nav-links a {
    display: block;
    text-align: center;
    padding: 2rem 0;
  }
  .nav-btn {
    display: block;
  }
}

@media screen and (max-width: 1150px) {
  .name {
    font-size: 6rem;
  }
  .job {
    font-size: 2rem;
  }
}

@media screen and (max-width: 1000px) {
  .header {
    height: auto;
  }
  .social {
    left: 1rem;
    bottom: 0;
  }
  .banner {
    flex-direction: column;
    padding-top: 3rem;
    justify-content: center;
    align-items: center;
    height: auto;
  }
  .banner-text {
    height: auto;
    margin-bottom: 3rem;
    width: 70%;
  }
  .name {
    font-size: 8rem;
  }
  .job {
    font-size: 3rem;
  }
  .banner-btn {
    font-size: 2rem;
  }

  .services {
    padding-top: 7rem;
  }
  .services-container {
    display: flex;
    flex-direction: column;
  }
  .services-item {
    max-width: 70%;
    margin: 3rem auto;
  }
  .services-title {
    font-size: 5rem;
  }
  .services-underline {
    width: 10rem;
  }
  .projects-container {
    flex-direction: column;
  }
  .project-item {
    width: 50%;
    margin: 3rem auto;
  }

  .square {
    display: none;
  }
}

@media screen and (max-width: 800px) {
  .project-item {
    width: 70%;
  }

  .project-underline {
    width: 15rem;
  }
  .video-container {
    transform: scale(2.3);
  }
}
@media screen and (max-width: 720px) {
  .name {
    font-size: 5rem;
  }
  .job {
    font-size: 2rem;
  }
  .banner-text {
    width: 80%;
  }
  .banner-btn {
    font-size: 1.5rem;
  }
  .img-container {
    width: 35rem;
  }
  .services-item i {
    font-size: 4rem;
  }
  .services-title {
    font-size: 5rem;
  }
  .services-text h2 {
    font-size: 3rem;
  }
  .services-text h3 {
    font-size: 2rem;
  }
  .services-text p {
    font-size: 1.5rem;
  }

  .services-item {
    max-width: 90%;
  }
  .project-item {
    width: 90%;
  }
}
@media screen and (max-width: 450px) {
  .video-container {
    transform: scale(3);
  }
}
