* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}
html {
  font-size: 62.5%;
}
:root {
  --bg-color: #f9eae1;
  --light-pink: #cc8b86;
  --dark-pink: #7d4f50;
  --dark-gray: #aa998f;
  --vdark-pink: #4b2f30;
}

/* HEADER */
.header {
  height: 100vh;
  background-color: var(--bg-color);
  background-image: linear-gradient(
    45deg,
    #7d4f50 25%,
    transparent 25%,
    transparent 50%,
    #7d4f50 50%,
    #7d4f50 75%,
    transparent 75%,
    #fff
  );
}

/* NAV */

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
.nav-links {
  list-style: none;
}
.nav-links a {
  margin: 0 3rem;
  text-decoration: none;
  letter-spacing: 0.1rem;
  font-size: 1.5rem;
  color: var(--light-pink);
}
.nav-links a:hover {
  color: var(--dark-gray);
}

.logo {
  font-family: "Grandstander", cursive;
  text-shadow: 0.1rem 0.2rem 0.2rem var(--dark-pink);
  font-size: 3rem;
  font-weight: 700;
  color: var(--vdark-pink);
}
.logo span {
  color: var(--light-pink);
}

/* BANNER */
.banner {
  height: calc(100vh - 3rem);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2rem;
}
.img-container {
  width: 40rem;
  border: 1rem solid var(--dark-pink);
  border-radius: 0.3rem;
}
.img-container img {
  display: block;
  width: 100%;
}
.banner-text {
  height: 40rem;
  max-width: 50rem;
}
.name {
  font-size: 7rem;
  color: #4b2f30;
  font-weight: 700;
  letter-spacing: 0.5rem;
}

.job {
  font-size: 3rem;
  color: var(--light-pink);
  font-weight: 700;
  letter-spacing: 0.5rem;
}

.banner-btn {
  background: var(--dark-gray);
  margin-top: 3rem;
  padding: 0.5rem 2rem;
  /* border-radius: 0.3rem; */
  letter-spacing: 0.3rem;
  font-weight: 700;
  outline: none;
  font-size: 1.7rem;
  color: var(--bg-color);
  border: 0.2rem solid var(--dark-gray);
  box-shadow: 0.1rem 0.1rem 0.1rem rgb(63, 63, 63);
  text-shadow: 0.1rem 0.1rem 0.1rem rgb(128, 128, 128);
  cursor: pointer;
}

.banner-btn:hover {
  background-color: #d3c0b4;
  border: 0.2rem solid #d3c0b4;
}

/* SERVICES */

.services {
  padding: 2rem;
  display: grid;
  background-color: #d4a6a2;
}

.services-title {
  margin: 5rem auto;
  font-size: 6rem;
  color: var(--dark-pink);
  letter-spacing: 0.3rem;
}

.services-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 95vw;
  margin: 0 auto 8rem auto;
}

.services-item {
  margin: auto;
  max-width: 95%;
  border-top: 0.5rem solid var(--dark-pink);
  border-radius: 0.5rem;
  display: grid;
  padding: 2rem;
  background-color: var(--bg-color);
}
.services-item i {
  margin: 3rem auto 0 auto;
  font-size: 5rem;
  color: var(--dark-pink);
  padding-bottom: 2rem;
  border-bottom: 0.5rem solid var(--dark-pink);
  border-radius: 0.5rem;
}

.services-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 3rem auto;
  max-width: 80%;
  color: var(--dark-pink);
}
.services-text h2 {
  margin: 2rem 0;
  font-size: 3.5rem;
}
.services-text h3 {
  margin: 0;
  font-size: 2.5rem;
  font-weight: 500;
}
.services-text p {
  font-size: 1.7rem;
  margin: 2rem auto;
  text-align: center;
  color: var(--light-pink);
}
