* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
:root {
  --bg-color: #f9eae1;
  --light-pink: #cc8b86;
  --dark-pink: #7d4f50;
  --dark-gray: #aa998f;
  --vdark-pink: #4b2f30;
}

/* SOCIAL */

.social {
  position: fixed;
  left: 1rem;
  bottom: 0;
  overflow-anchor: none;
  z-index: 20;
}
.icon {
  display: block;
  margin: 3rem 0;
  color: #351e1f;
  cursor: pointer;
}

.icon:hover {
  color: #412728;
}

.icon i {
  font-size: 2rem;
  padding: 0.5rem;
  transition: all ease 0.3s;
}
.contact-btn i {
  font-size: 3rem;
  margin-bottom: 1rem;
  color: #351e1f;
  animation: bounce 2s ease-in-out infinite;
  transition: all ease -2s;
  cursor: pointer;
}
.contact-btn i:hover {
  color: #412728;
  transform: rotateY(-90deg);
}

@keyframes bounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
.icon span {
  font-size: 1.5rem;
  transition: all ease 0.3s;
  opacity: 0;
  color: var(--dark-pink);
  background-color: var(--bg-color);
  padding: 0.2rem;
  border-radius: 0.3rem;
}

.icon:hover i {
  transform: scale(1.2);
}

.contact-list {
  height: 0;
  overflow: hidden;
  transition: all ease 0.3s;
  animation: showlist 3s 1s alternate;
}
@keyframes showlist {
  0% {
    height: 0;
  }
  15% {
    height: 26rem;
  }
  85% {
    height: 26rem;
  }
  100% {
    height: 0;
  }
}
.contact-list-active {
  height: 26rem;
}

.icon:hover span {
  opacity: 1;
}
/* HEADER */
.header {
  height: 100vh;
  background-color: var(--bg-color);
}

/* NAV */

.nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  padding: 1rem;
}

.nav-links {
  list-style: none;
}
.nav-links a {
  margin: 0 3rem;
  text-decoration: none;
  letter-spacing: 0.1rem;
  font-size: 1.5rem;
  color: var(--dark-pink);
}
.nav-links a:hover {
  color: var(--dark-gray);
}

.logo {
  font-family: "Grandstander", cursive;
  text-shadow: 0.1rem 0.2rem 0.2rem var(--dark-pink);
  font-size: 3rem;
  font-weight: 700;
  color: var(--vdark-pink);
}
.logo span {
  color: var(--light-pink);
}

/* BANNER */
.banner {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2rem;
}
.img-container {
  width: 40rem;
  border: 1rem solid var(--dark-pink);
  border-radius: 0.3rem;
}
.img-container img {
  display: block;
  width: 100%;
  height: 100%;
}
.banner-text {
  /* height: 40rem; */
  margin-top: 5rem;
  max-width: 60rem;
}
.name {
  font-size: 6rem;
  color: var(--dark-pink);
  font-weight: 700;
  letter-spacing: 0.5rem;
}

.job {
  font-size: 2rem;
  color: var(--light-pink);
  line-height: 4rem;
  letter-spacing: 0.5rem;
  margin-bottom: 3rem;
  text-align: justify;
}
.footer {
  display: grid;
  place-items: center;
  justify-content: center;
  background-color: var(--dark-pink);
}

.footer p {
  margin: 3rem auto;
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
  color: var(--light-pink);
}

@media screen and (max-width: 1200px) {
  .header {
    height: auto;
  }
  .banner {
    flex-direction: column;
  }

  .name {
    font-size: 5rem;
    margin-left: 3rem;
  }
  .job {
    margin: 0 3rem 3rem 3rem;
    font-size: 1.5rem;
  }
}
